html {
  scroll-behavior: smooth;
  background-color: beige;
}

.titulo-principal {
  text-align: center;
}

.menu-principal {
  text-align: left;
  cursor: pointer;
}

.programacion-front {
  background-color: red;
}

.piso-pagina {
  text-align: center;
}

.nombre {
  font-family: helvetica;
  font-style: italic;
}
